# Serve JSON files directly
[[redirects]]
  from = "/API/v1/Clan/Rank/icons.json"
  to   = "/API/v1/Clan/Rank/icons.json"
  status = 200

[[redirects]]
  from = "/API/v1/Slayer_Diaries/Monster/Entries/*.json"
  to   = "/API/v1/Slayer_Diaries/Monster/Entries/:splat"
  status = 200

[[redirects]]
  from = "/API/v1/Slayer_Master/Head/icons.json"
  to   = "/API/v1/Slayer_Master/Head/icons.json"
  status = 200

# Catch-all for API routes / SPA
[[redirects]]
  from = "/*"
  to   = "/index.html"
  status = 200
